/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";


@font-face {
  font-family: Dosis;
  src: font-url('Dosis-Book.ttf') format('truetype');
}

body {
    color: #FFF;
    background: #000;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    padding: 2em;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#console {
    text-transform: none;
}


.button-array {
    width: 400px;
    margin: 0 auto;
    
    .button {
        display: block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        background: #FFF;
        color: #000;
        font: inherit;
        text-align: center;
        text-transform: inherit;
        line-height: 80px;
        text-decoration: none;
        @include border-radius(2px);
        @include single-transition(all, 50ms, linear);
        
        &:active, &:focus, &.touched {
            @include translateY(2px);
        }
    }
}

.touch-points {
    .point {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 50px;
        height: 50px;
        background: #FFF;
        color: #000;
        text-align: center;
        line-height: 50px;
        @include border-radius(25px);
        margin-bottom: 20px;
        @include transition-property(color background);
        @include transition-duration(100ms);
        @include transition-timing-function(linear);
    }
}

#compass {
    width: 10px;
    height: 100px;
    background: #FFF;
}